<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtl.system.mapper.AdminLogsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="adminLogsResultMap" type="com.mtl.system.domain.AdminLogs">
        <id column="log_id" property="logId"/>
        <result column="log_type" property="logType"/>
        <result column="operator_name" property="operatorName"/>
        <result column="operator_id" property="operatorId"/>
        <result column="log_detail" property="logDetail"/>
        <result column="log_time" property="logTime"/>
    </resultMap>



</mapper>
