package $!{package.Controller};

import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import io.swagger.annotations.ApiParam;
import com.mtl.common.tool.api.R;
import com.mtl.common.tool.model.Page;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import $!{package.Entity}.$!{entity};
import $!{package.Service}.$!{table.serviceName};
import java.util.List;
import java.util.Arrays;

/**
 * $!{table.comment} 控制器
 *
 * @author $!{author}
 * @since $!{date}
 */
@RestController
@RequestMapping("#if($!{package.ModuleName})/$!{package.ModuleName}#end/$!{cfg.entityKey}")
@Api(value = "$!{table.comment}", tags = "$!{table.comment}接口")
public class $!{table.controllerName} {
    @Autowired
	private $!{table.serviceName} $!{table.entityPath}Service;

	/**
	* 详情
	*/
	@GetMapping("/detail")
	@ApiOperation(value = "详情", notes = "传入$!{table.entityPath}", position = 1)
	public R<$!{entity}> detail(Integer id) {
		$!{entity} detail = $!{table.entityPath}Service.findById(id);
		return R.data(detail);
	}

	/**
	* 分页 $!{table.comment}
	*/
	@GetMapping("/page")
	@ApiOperation(value = "分页", notes = "传入$!{table.entityPath}", position = 2)
	public R<Page<$!{entity}>> page(Integer page,Integer size) {
		Page<$!{entity}> pages = $!{table.entityPath}Service.findPage(page,size);
		return R.data(pages);
	}

	/**
	* 新增或修改 $!{table.comment}
	*/
	@PostMapping("/submit")
	@ApiOperation(value = "新增或修改", notes = "传入$!{table.entityPath}", position = 6)
	public R submit(@RequestBody $!{entity} $!{table.entityPath}) {
		return R.status($!{table.entityPath}Service.saveOrUpdate($!{table.entityPath}));
	}

	/**
	* 删除 $!{table.comment}
	*/
	@PostMapping("/remove")
	@ApiOperation(value = "删除", notes = "传入ids", position = 7)
	public R remove(@ApiParam(value = "主键集合", required = true) @RequestBody Integer[] ids) {
		return R.status($!{table.entityPath}Service.deleteBatch(Arrays.asList(ids)));
	}

}
